.container {
   display: flex;
   flex-direction: row;
   background-color: rgb(85, 81, 81);
   width: 260px;
   /* margin-left: 10px; */
   /* display: inline-block; */
}
.innerContainer {
   background-color: white;
   display: flex;
   flex-direction: column;
   font-family: Georgia, serif;
   font-size: 14px;
   width: 750px;
   height: 450px;
   overflow: hidden;
   margin-left: 10px;
   margin-right: 10px;
   margin-top: 30px;
   border-radius: 35px;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* .imgContainer {
   height: 200px;
   overflow: hidden;
} */
.Introoo {
   color: black;
   
   display: flex;
   background-color: rgb(85, 81, 81);
   font-family: courier;
   font-size: 150%;
   font-family: Georgia, serif;
   justify-content: center;

}

.imgContainer {
   height: 200px;
   overflow: hidden;
   /* display: inline; */
   vertical-align: middle;
}

.cardImg {
   height: auto;
   width: 450px;
}

sub {
   color: gray;
}

