.App {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100vh;
  background-image: url('images/picture.jpg'); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.flightWeather{
  display: flex;
  flex-direction: row;
}
.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.infoContainerHide {
  display: none;
}

.Welcome {
  padding-top: 30px;
  font-size: calc(40px + 3vmin);
  font-style:oblique;
}

.Intro{
  justify-content: center;
  margin-top: -42px;
  align-items: center;
  font-size: calc(10px + 2vmin);
  font-family: 'New Tegomin', serif;
}

.searchContainer > div + div {
  margin-left: 30px;
}

.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125px;
  width: 65vw;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.4);
}

.searchAreaContainer {
  display: flex;
  justify-content: center;
}

.searchContainer Search:hover{
  background-color: #ddd;
  color: black;
}

.yelpRow{
  display:flex; 
  flex-direction:row;
  justify-content: center;
  align-items: center;
}



@media all and (max-width:1400px)
{
  .Intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    font-size: calc(10px + 2vmin);
    font-family: 'New Tegomin', serif;
  }

  .searchContainer {
    display: flex;
    flex-direction: column;
    height: 70vh;
    margin: 15vh 0px 15vh 0px;
  }

  .searchContainer > div + div {
    margin: 10px 0px 0px 0px;
  }

  .yelpRow {
    display: flex;
    flex-direction: column;
  }

  .searchContainer {
    height: 145px;
  }
}
