.App {
  text-align: center;
  background-image: url('images/picture.jpg'); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh; 
}



.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Welcome{
  padding-top: 30px;
  font-size: calc(40px + 3vmin);
  font-style:oblique;
}

.Intro{
  justify-content: center;
  margin-top: -42px;
  align-items: center;
  /* background-image: url('images/picture.jpg'); 
  background-size: 100% 100%; */
  font-size: calc(10px + 2vmin);
  font-family: 'New Tegomin', serif;
  /* background-position: 100px 5px; */
  /* height: 585px; */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */

  
}

.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.Search {
  margin-left: 30px;
}
.searchContainer Search:hover{
  background-color: #ddd;
  color: black;
}



.yelpRow{
  display:flex; 
  flex-direction:row;
  justify-content: center;
  align-items: center;
}


@media all and (max-width:800px)
{
    .searchContainer
    {
      display: flex;
      flex-direction: column;
      height: 300px;
    }

    .searchContainer > div + div {
      margin: 0;
    }

    .yelpRow {
      display: flex;
      flex-direction: column;
    }
}

