.container {
    background-color: rgb(141, 189, 251);
    border-radius: 5px;
    min-width: 100%;
    display: inline-block;
    align-self: stretch;
    opacity: 0.95;

/* 
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0px 0px 0px 0px;*/
}

.innerContainer {
    background-color: rgb(216, 221, 231);
    display: flex;
    flex-direction: row;
    overflow: hidden;
    font-family: Georgia, serif;
    font-size: 20px;
    width: 100%;
    margin: 0px 0px 0px 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.headerContainer {
    margin: 30px 0px 10px 50px;
    
}

.headerContainer > * {
    display: flex;
    justify-content: left;
    align-items: flex-end;
}

.imgContainer {
    margin: auto 10px auto 10px;
}

.cardImg {
}

.infoContainer {
    display: flex;
    flex-direction: column;
}

.topContainer {
    display: flex;
    flex-direction: row;
    justify-content:space-between;

}

.topContainer p {
    margin: 0px,0px,0px,0px;
}

.bottomContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 900px;
    margin: 5px 0px 10px 0px;
    color: rgb(90, 88, 88);
}

.bottomContainer p {
    margin: 0;
    
}

sub {
    vertical-align: top;
}

