.mainContainer {
    width: 400px;
}


.mainContainer :hover{
    color: rgb(25, 0, 255);
    cursor: pointer;
}

@media all and (max-width:800px)
{
    .mainContainer
    {
      width: 250px;
    }

}
