.outerContainer {
   display: flex;
   flex-direction: row;
   width: auto;
}

.container {
   display: flex;
   flex-direction: column;
   margin: 0px 0px 0px 0px;
   background-color: white;
}
.innerContainer {
   background-color: white;
   display: flex;
   flex-direction: column;
   font-size: 14px;
   width: 300px;
   height: auto;
   margin: 30px 10px 20px 10px;
   border-radius: 35px;
   overflow: hidden;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.innerContainer > sub {
   margin: 3px 0px  6px 0px;
}

.Intro {
   color: black;
   display: flex;
   background-color: rgb(85, 81, 81);
   font-family: courier;
   font-size: 150%;
   font-family: Georgia, serif;
}

.imgContainer {
   height: 150px;
   width: 300px;
   background-color: white;
   overflow: hidden;
}

.cardImg {
   height: auto;
   width: 350px;
}

.infoContainer {
   display:flex;
   flex-direction: column;
   margin: 0px 0px 15px 0px;
}
